@import "./layout.scss";
@import "./react-autosuggest.scss";
@import "../client/components/EventView/EventView.scss";
@import "../client/components/Projects/Projects.scss";
@import "../client/components/UserMessage/UserMessage.scss";
@import "../client/components/UserAllocation/UserAllocation.scss";


.ms-DetailsRow-check,
.ms-DetailsRow-cellCheck,
.ms-DetailsHeader-cellIsCheck {
  display: none;
}

.ms-DetailsHeader-cellName,
.ms-GroupHeader-title {
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.ms-DetailsRow-cell {
font-size: 1.2em;
  span,
  a {
    font-size: 1em;
  }
}

.ms-FocusZone.ms-DetailsRow {
  border: none;
}

div.ms-List-page .ms-GroupedList-group {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(237, 235, 233);
}

h3.panel-title a {
  color: #444;
}

button:focus {
  outline: none;
}