.loginError {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        padding: 10px 25px;

        h4.text {
            margin: 10px 0 0 0;
        }

        .message {
            word-wrap: break-word;
            line-break: auto;
        }
    }
}