.customQueryTab {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    .filterCriterias {
        max-width: 500px;

        .header {
            cursor: pointer;

            .inner {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .text {
                    flex: 1;
                }
            }
        }

        &.isCollapsed {
            .subHeader,
            .formSection,
            .actions {
                display: none;
            }
        }

        .formSection {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 16px;
            border-radius: 4px;
            background-color: var(--colorNeutralBackground1);

            .formRow {
                display: flex;
                gap: 16px;

                .numberInput {
                    width: 100px;
                }
            }

        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 16px;
    }
}