.panel {
    .header {
        display: initial;
    }
    
    .body {
        display: initial;
    }

    .footer {
        .actions {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
    }
}