.navItem {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0.3rem;
  position: relative;

  .link {
    display: flex;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.9rem;
    align-items: center;
    letter-spacing: 0.5px;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 0.7rem;
    text-shadow: 0px 1px 1px #888;

    .icon {
      display: inline-flex;
      margin-right: 5px;
    }

    &:hover {
      background-color: #ff6a4c22;
      border-radius: 0.3rem;
    }

    &.active {
      color: #ffffff;
      font-weight: 800;
      cursor: default;
      padding-top: 3px;
      padding-bottom: 0;
      height: calc(100% - 6px);
      border-bottom: 3px inset #ff6a4c;
      &:hover {
        border-radius: 0;
      }
    }
  }

  &.mobile {
    margin: 0;
    width: 100%;
    .link {
      width: 100%;
      display: flex;
      height: calc(100% - 2px);
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        display: flex;
        color: #f1f1f1;
        -webkit-font-smoothing: subpixel-antialiased;
        svg {
          width: 36px;
          height: 36px;
        }
      }

      .text {
        display: none;
      }

      &.active {
        border-top: 2px solid #cf5f00;
        .icon {
          color: #cf5f00;
        }
        .text {
          font-size: 10px;
        }
      }
    }
  }
}
