html {
    overflow-y: scroll;
}

body {
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: var(--colorBrandForegroundLink);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}