.customerLink {
  display: flex;
  align-items: center;
  min-width: 0;
  
  .icon {
    align-self: flex-start;
  }

  .link {
    margin-left: 6px;
    min-width: 0;

    span {
      overflow-wrap: break-word;
    }
  }
}
