.labelPicker {
  width: 280px;
  height: 320px;

  .scrollableContent {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    .stickyHeader {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: white;
      padding: 12px;
      border-bottom: 1px solid #eaecef;

      .searchBox {
        margin: 12px 0;
      }
    }

    .container {
      padding-bottom: 20px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 12px;
          border-bottom: 1px solid #eaecef;
          display: flex;

          .itemContainer {
            display: flex;
            cursor: pointer;
            width: 100%;

            .itemCheckbox {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
}
