.root {
  align-items: center;
  height: 100%;
  margin: 0 8px;

  .link {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;

    .navIcon {
      display: none;
    }

    &:hover {
      color: #bbb;
    }

    &.active {
      color: #cf5f00;
    }
  }
}

.root.mobile {
  .link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .navText {
      display: flex;
      font-size: 0.5em;
      margin: 4px 0 0 0;
    }

    .navIcon {
      display: flex;
      justify-content: center;
      color: #f1f1f1;
      font-size: 18px;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    &.active {
      .navIcon {
        color: #cf5f00;
      }
    }
  }
}
