.columnHeader {
  height: 40px;
  min-height: 40px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4px 0 8px;
    box-sizing: border-box;
  }
}
