.c-UserNotifications {
  margin: 10px 25px 0 0;

  .c-UserNotifications-toggle {
    cursor: pointer;
    position: relative;

    .c-UserNotifications-toggle-count {
      position: absolute;
      color: white;
      background-color: red;
      border-radius: 50%;
      height: 19px;
      line-height: 1;
      min-width: 19px;
      font-size: 0.8125rem;
      text-align: center;
      padding-top: 2px;
      top: -9px;
      right: -9px;
    }
  }
}

.c-UserNotifications-panel {
  .c-UserNotifications-panel-body {
    padding: 20px 0 0 0;
  }
  .c-UserNotifications-panel-notification {
    margin: 10px 0 0 0;
  }
}
