.root {
  [class="ms-List"] {
    [class="ms-List-surface"] {
      border: 0px solid transparent !important;
      margin-top: 0 !important;

      [class*="ms-List-page"] {
        margin-top: 20px; 
        border: 1px solid #d0d7de;
        border-radius: 6px;
        margin-right: 2px;
        [class="ms-List-cell"] {
          border: none !important;
          border-radius: 0 !important;
        }
      }
    }
  }

  &.mobile {

    [class*="ms-DetailsList-headerWrapper"],
    [class*="ms-GroupSpacer"],
    [class*="ms-GroupHeader-expand"] {
      display: none !important;
    }

    [class*="ms-DetailsRow-fields"] {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 15px 0;
    }

    [class*="ms-DetailsRow-cell"] {
      display: inherit !important;
      align-items: unset !important;
      align-self: unset !important;
      min-height: auto !important;
      width: auto !important;
    }

    [class*="ms-FocusZone"],
    [class*="ms-SelectionZone"] {
      min-width: auto !important;
      overflow-x: hidden;
    }
  }
}