.titleColumn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;
  gap: 8px;

  a {
    min-width: 0;
  }

  a span {
    overflow-wrap: break-word;
  }

  .labels {
    margin: 0 0 0 10px;
  }

  .time {
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

@media (max-width: 600px) {
  .titleColumn {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;

    .labels {
      margin: 0;
    }

    .time {
      min-width: 0;
    }
  }
}
