.projectLink {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 0;
  
  .icon {
    align-self: flex-start;
  }

  .link {
    margin: 0;
    outline: none !important;
    min-width: 0;

    span {
      overflow-wrap: break-word;
    }
  }
}
