.root {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;

  .icon {
    font-size: 12px;
  }
}

.content {
  padding: 20px;
  .header {
    padding: 10px 20px 10px 0;
    font-size: 18px;
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      padding: 0 14px 0 0;
      font-size: 22px;
    }
  }
}

.icon {
  color: #107c10;
}
