.root {
  width: 90%;
  display: flex;
  flex-direction: row;

  &.mobile {
    .content {
      .link {
        font-size: 10pt;
        margin: 0;
      }
    }
  }

  .iconContainer {
    padding: 4px 0 0 0;
    align-self: flex-start;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 8px;

    .labelIcon {
      margin: 0 0 0 6px;
      align-self: center;
    }

    .clearButton {
      margin: 0 0 0 4px;
    }
  }
}
