.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
  margin: 2rem 0;

  .logoSvg {
    width: 33vw;
    max-width: 33vw;
    max-height: 50vh;
    overflow: visible;
  }

  .logoMark {
    // fill: rgb(255, 102, 0);
    fill: none;
    fill: url(#lingrad);
    width: 100%;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  Resources .dropShadow {
    filter: drop-shadow(2px 4px 6px rgba(114, 34, 5, 0.413));
  }

  .motto {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgb(255, 102, 0);
  }
}
