.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .signInButton {
    margin: 10px 0 0 0;
    border-radius: 20px;
    &:hover {
      background-color: #cf5f00;
      transition: background-color 0.8s ease-out;
      transition: color 0.8s ease-out;
      border: none;
      color: #fff;
    }
  }

  .error {
    width: 500px;

    [class*='ms-MessageBar-icon'] {
      font-size: 25px;
    }

    h4,
    p {
      margin: 5px 25px 10px 25px;
    }

    h4 {
      letter-spacing: 2px;
    }

    p {
      letter-spacing: 1px;
    }
  }
}
