.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    letter-spacing: 0.15rem;
    font-size: 44px;
    color: #252422;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }

  .motto {
    letter-spacing: 0.15rem;
    font-style: italic;
    font-size: 14px;
    color: #cf5f00;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }
}
