.root {
  .togglePanel {
    margin: 0 8px 0 0;
    cursor: pointer;
    .icon {
      margin: 0;
      vertical-align: middle;
    }
    .text {
      margin: 0 0 0 3px;
      font-size: 0.9em;
      vertical-align: middle;
    }
  }
}

.subText {
  font-size: 1em;
  margin: 0 0 20px 0;
}

.searchProject {
  margin: 15px 0 0 0;
}
