name: Build and deploy to didapp/staging

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - 'server/**'
      - 'client/**'
      - 'shared/**'
      - 'webpack/**'
      - 'package.json'
      - '.deployment'
      - '.deploy/**'
      - '.tasks/archivePackage.js'
      - '.github/workflows/on_push_staging_deploy.yml'
      - '.github/workflows/deploy-reusable.yml'

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: staging
      slot-name: staging
      display-version-details: '0'
    secrets:
      publish-profile: ${{ secrets.DIDAPP_STAGING_PUBLISH_PROFILE }}