name: Build and deploy to didapp/dev

on:
  push:
    branches:
      - dev
    paths:
      - 'server/**'
      - 'client/**'
      - 'shared/**'
      - 'webpack/**'
      - 'package.json'
      - '.deployment'
      - '.deploy/**'
      - '.tasks/archivePackage.js'
      - '.github/workflows/on_push_dev_deploy.yml'
      - '.github/workflows/deploy-reusable.yml'

jobs:
  deploy:
    if: ${{ !contains(github.event.head_commit.message, '[skip-ci]') && !contains(github.event.head_commit.message, '[skip-deploy]') }}
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: dev
      slot-name: dev
      display-version-details: '1'
    secrets:
      publish-profile: ${{ secrets.DIDAPP_DEV_PUBLISH_PROFILE }}