.root {
  .inputField {
    margin: 8px 0 8px 0;
  }

  .subHeader {
    font-size: 1.2em;
    margin: 12px 0 12px 0;
  }

  .actions {
    margin: 10px 0 0 0;

    .deleteBtn {
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
}
